%h2 Cursos / Talleres
#external-courses-area
- if can? :create, ExternalCourse
  = link_to 'Agregar curso o taller', '#', :id=>'a-new-external-course'
:javascript
  $(function() {
    loadExternalCoursesTable()
  });
