%h2 Practicas de laboratorio
#lab-practices-area
- if can? :create, LabPractice
  = link_to 'Agregar practica de laboratorio', '#', :id=>'a-new-lab-practice'
:javascript
  $(function() {
    loadLabPracticesTable()
  });
