    <P LANG="es-MX" CLASS="western" ALIGN=RIGHT><BR>
    <!--/P-->
    <P LANG="es-MX" CLASS="western" ALIGN=RIGHT><BR>
    </P>
    <P LANG="es-MX" CLASS="western" ALIGN=LEFT><BR>
    </P>
    <P LANG="es-MX" CLASS="western" ALIGN=LEFT><BR>
    </P>
    <P LANG="es-MX" CLASS="western" ALIGN=LEFT><BR>
    </P>
    <P LANG="es-MX" CLASS="western" ALIGN=LEFT><BR>
    </P>
    <P LANG="es-MX" CLASS="western" ALIGN=LEFT><FONT FACE="Verdana, sans-serif"><FONT ><B>A
    quien corresponda</B></FONT></FONT></P>
    <P LANG="es-MX" CLASS="western" ALIGN=LEFT><FONT FACE="Verdana, sans-serif"><FONT ><B>Presente.-</B></FONT></FONT></P>
    <P LANG="es-MX" CLASS="western" ALIGN=RIGHT><BR>
    </P>

<DIV style="text-align: justify"><!-- INICIO DIV JUSTIFY  -->
    <P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT >La</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Suscrita</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>M.H.</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Carmen</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Nicté</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Ortiz</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Villanueva,</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
     </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Jefa</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >del</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Departamento</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Posgrado,</FONT></FONT><FONT FACE="Verdana, sans-serif">
    </FONT><FONT FACE="Verdana, sans-serif"><FONT >del</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Centro</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Investigación</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >en</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Materiales</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Avanzados,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >S.</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >C.,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >hace</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >constar</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >que</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT>
           <FONT FACE="Verdana, sans-serif"><FONT ><B><nombre></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >con</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >número</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >matrícula</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B><matricula></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >se</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >encuentra</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >inscrit<genero>,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >como</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >alumn<genero></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >activ<genero></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >en</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >el</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >periodo</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B><start_month> - <end_month> <end_year></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >en</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >nuestro</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Programa</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B><programa></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >en</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >este</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Centro</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >Investigación,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
     </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >bajo</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >la</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >supervisión</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B><asesor>.</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
     </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT >
    </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B></B></FONT></FONT></P>
    <P CLASS="western" STYLE="line-height: 150%"><BR>
    </P>
    <P CLASS="western" STYLE="line-height: 150%">
        <FONT FACE="Verdana, sans-serif">
        </FONT>
        <FONT FACE="Verdana, sans-serif"><FONT >
	<P CLASS="western" STYLE="line-height: 150%"><FONT FACE="Verdana, sans-serif">Se</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">extiende</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">la</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">presente</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">constancia</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">a</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">los</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif"><days></FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">días</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">del</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">mes</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">de</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif"><month></FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">de</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif"><year>,</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">para</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">los</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">fines</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">a</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">que</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">haya</FONT><FONT FACE="Verdana, sans-serif">
	</FONT><FONT FACE="Verdana, sans-serif">lugar.</FONT></P>
</DIV><!-- FIN DIV JUSTIFY  -->

    <P CLASS="western"><BR>
    </P>
    <P CLASS="western" ALIGN=CENTER><BR>
    </P>
    <P CLASS="western" ALIGN=CENTER><BR>
    </P>
    <P CLASS="western" ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>A</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>t</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>e</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>n</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>t</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>a</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>m</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>e</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>n</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>t</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>
    </B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><SPAN LANG="pt-BR"><B>e,</B></SPAN></FONT></FONT></P>
    <P LANG="pt-BR" CLASS="western" ALIGN=CENTER><BR>
    </P>
    <P LANG="pt-BR" CLASS="western" ALIGN=CENTER><BR>
    </P>
    <P CLASS="western" ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT ><B>M.H.</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Carmen</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Nicté</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Ortiz</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Villanueva</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
     </B></FONT></FONT>
    </P>
    <P CLASS="western" ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT ><B>Jefa</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>del</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Departamento</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>de</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>
    </B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT ><B>Posgrado.</B></FONT></FONT></P>
    <P CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <P CLASS="western" ALIGN=LEFT><BR>
    </P>
    <P LANG="es-MX" CLASS="western" ALIGN=LEFT><BR>
    </P>
