<P CLASS="western" ALIGN=LEFT><BR>
</P>
<P CLASS="western" ALIGN=LEFT><BR>
</P>
<P CLASS="western" ALIGN=LEFT><BR>
</P>
<P CLASS="western" ALIGN=LEFT><BR>
</P>
<P CLASS="western" ALIGN=LEFT><FONT FACE="Verdana, sans-serif"><FONT><B>A
quien corresponda:</B></FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT><BR>
</P>
<DIV style="text-align: justify"><!-- INICIO DIV JUSTIFY  -->
<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT>La</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>suscrit</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>a</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>M.H.</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Nicté</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Ortiz</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Villanueva,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Jefa</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>del</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Dpto.</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Posgrado</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>del</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Centro</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Investigación</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>en</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Materiales</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Avanzados,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>S.</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>C.,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Organismo</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>del</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Sistema</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>SEP</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
– </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>CONACYT,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>según</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Acuerdo</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>ante</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>la</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>SEP</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>964031</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>con</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>fecha</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>del</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>15</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>abril</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>1996</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>y</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>clave</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Registro</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>DGES</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>256035417101,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>y</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
 </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>con</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>sus</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Programas</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Posgrado</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>registrados</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>ante</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>la</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Dirección</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>General</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Profesiones</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>la</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Secretaría</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Educación</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Pública,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>hace</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>constar</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>que</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>el</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>alumno</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"></FONT><FONT FACE="Verdana, sans-serif"><FONT><B><nombre>,</B></FONT></FONT><FONT FACE="Verdana, sans-serif"></FONT>
<FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>matrícula</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN STYLE="background: #ffffff">&nbsp;</SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B><SPAN STYLE="background: #ffffff"><matricula></SPAN></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>,</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>se</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>encuentra</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>inscrito</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>como</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>alumno</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>regular,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>en</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>nuestro</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>Programa</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B><programa>,</B></FONT></FONT>
<FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>bajo</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>la</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>dirección</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>de</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B><asesor></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>.</FONT></FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT>Asimismo</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>se</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>informa</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>que</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B><nombre></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B>
</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><B></B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>percibe</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>una</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>beca</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>CONACyT.</FONT></FONT></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT>	</FONT></FONT></P>
<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT>Se</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>extiende</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>la</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>presente</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>constancia</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>en la ciudad de Chihuahua, Chihuahua el dia <days> del mes de <month> de <year>,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>para</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>los</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>fines</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>legales</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>y</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>a</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>solicitud</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>que</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
 </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>al</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
 </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>interesado</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT>convengan.</FONT></FONT></P>

</DIV><!-- FIN DIV JUSTIFY  -->
<P CLASS="western" STYLE="line-height: 150%"><FONT FACE="Verdana, sans-serif"><FONT>	</FONT></FONT><IMG SRC="<rails_root>/public<student_image_uri>" ALT="X" ALIGN=LEFT HSPACE=12 BORDER=0 WIDTH=500px></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=CENTER><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 5cm; text-indent: 1.25cm">
<FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>A</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>t</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>e</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>n</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>t</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>a</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>m</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>e</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>n</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>t</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT><SPAN LANG="pt-BR"><B>e,</B></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="pt-BR" CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 5cm; text-indent: 1.25cm">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 5cm; text-indent: 1.25cm">
<FONT FACE="Verdana, sans-serif"><FONT><B>M.H.
Nicté Ortiz Villanueva </B></FONT></FONT>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 6.24cm"><FONT FACE="Verdana, sans-serif"><FONT><B>   Jefa
del Departamento de Posgrado.</B></FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT><BR>
</P>
<P CLASS="western" ALIGN=LEFT><BR>
</P>
