<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<FONT FACE="Verdana, sans-serif">
  <P CLASS="western" ALIGN=LEFT>
    <B>A quien corresponda:</B>
    <BR>
    <B>Presente.-</B>
  </P>
  <BR>
  <BR>
  <DIV style="text-align: justify">
    <P CLASS="western">
      Por medio de la presente tengo el agrado de extender la constancia 
    </P>
    <BR>
    <BR>
    <P CLASS="western">
      Así mismo, la calificación de promedio general es <promedio>. Con ningún adeudo de inscripción al día de hoy. 
    </P>
    <BR>
    <BR>
    <P CLASS="western">
      Cabe mencionar que ha cursado todas las materias requeridas quedando pendientes la aprobación de su tesis y examen de grado.
    </P>
    <BR>
    <P CLASS="western">
      Se extiende la presente constancia en la ciudad de Chihuahua, Chihuahua el dia <days> del mes de <month> de <year>, para los fines legales a que haya lugar.
    </P>
  </DIV>
  <DIV style="text-align: center">
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <P CLASS="western">
      <B>A t e n t a m e n t e</B>
    </P>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <P CLASS="western">
      <B>Dr. Erasmo Orrantia Borunda</B>
      <BR>
      <B>Director Académico.</B>
    </P>
  </DIV>
</FONT>

