<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<FONT FACE="Verdana, sans-serif">
  <P CLASS="western" ALIGN=LEFT>
    <B>A quien corresponda:</B>
    <BR>
    <B>Presente.-</B>
  </P>
  <BR>
  <BR>
  <DIV style="text-align: justify">
    <P CLASS="western">
      La suscrita <b><firma></b>, <puesto>, del Centro de Investigación en Materiales Avanzados, S. C., Organismo del Sistema SEP - CONACYT, según Acuerdo ante la SEP 964031
con fecha del 15 de abril de 1996 y clave de Registro DGES 256035417101
, y  con sus Programas de Posgrado registrados ante la Dirección General de Profesiones de la Secretaría de Educación Pública, hace constar que <genero2>
alumn<genero> <b><nombre></b>, de matrícula <b><matricula></b>, se encuentra inscrit<genero> 
como alumn<genero> regular, en el <semester> semestre de nuestro Programa de <b><programa></b>
, durante el periodo del <start_day> de <start_month> al <end_day> de <end_month> de <end_year>.

    <BR>
    <BR>
    <P CLASS="western">
      Se extiende la presente constancia en la ciudad de Chihuahua, Chihuahua el dia <days> del mes de <month> de <year>, para los fines legales a que haya lugar.
    </P>
  </DIV>
  <DIV style="text-align: center">
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <P CLASS="western">
      <B>A t e n t a m e n t e</B>
    </P>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <P CLASS="western">
      <B><firma></B>
      <BR>
      <B><puesto>.</B>
    </P>
  </DIV>
</FONT>

