<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<FONT FACE="Verdana, sans-serif">
  <P CLASS="western" ALIGN=LEFT>
    <B>A quien corresponda:</B>
    <BR>
    <B>Presente.-</B>
  </P>
  <BR>
  <BR>
  <DIV style="text-align: justify">
    <P CLASS="western">
      La suscrita M.H. Nicté Ortiz Villanueva, Jefa del Dpto. de Posgrado, del Centro de Investigación en Materiales Avanzados, S. C., Organismo del Sistema SEP - CONACYT, según Acuerdo ante la SEP 964031 con fecha del 15 de abril de 1996 y clave de Registro DGES 256035417101, y  con sus Programas de Posgrado registrados ante la Dirección General de Profesiones de la Secretaría de Educación Pública, hace constar que el alumno <nombre>, de matrícula <matricula>, se encuentra inscrito como alumno regular, en el <semester> semestre de nuestro Programa de Maestría en Ciencia y Tecnología Ambiental, durante el periodo del <start_day> de <start_month> al <end_day> de <end_month> de <end_year>.

    <BR>
    <beca>
    <BR>
    <P CLASS="western">
      Asimismo se informa que <nombre>, percibe una beca de <total_beca> veces el salario mínimo de la Cd. De México.
    </P>
    </beca>
    <BR>
    <P CLASS="western">
      Se extiende la presente constancia den la ciudad de Chihuahua, Chihuahua el dia <days> del mes de <month> de <year>, para los fines legales a que haya lugar.
    </P>
  </DIV>
  <DIV style="text-align: center">
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <P CLASS="western">
      <B>A t e n t a m e n t e</B>
    </P>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <P CLASS="western">
      <B>M.H. Nicté Ortiz Villanueva</B>
      <BR>
      <B>Jefa del Departamento de Posgrado.</B>
    </P>
  </DIV>
</FONT>

