.bundle
db/*.sqlite3
log/*.log
tmp/
private/*
public/stylesheets/compiled/
public/images/*
public/images/student/
public/images/staff/
public/images/institution/
public/images/campus/
public/images/internship/
public/assets
db/seed-data/
.DS_Store
.swp
.swo
sapos.esproj
Gemfile.lock
nohup.out

config/environment.rb

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
