#classroom-schedule-header
  #classroom-schedule-title
    %h2 Horario
  %center
    %table{:width=>"800px"}
      %tbody
        %tr
          %td{:align=>"right"}
            = hidden_field_tag :classroom_id, classroom.id
            = "Fecha de inicio:"
          %td
            %input{:type=>'text',:id=>'start_date',:readonly=>true}      
          %td{:align=>"right"}
            = "Fecha final:"
          %td
            %input{:type=>'text',:id=>'end_date'}      
          %td
            =link_to '  Buscar','#', :id=>'search-classroom-schedule'

#classroom-schedule-area
= javascript_include_tag "end.js"
