= stylesheet_link_tag 'custom-theme/jquery-ui.css'
- @include_js = ['classrooms','jquery.ui.datepicker.js','jquery.ui.datepicker-es.js']
- @page_title = 'Salones'
- @nav_icon = 'classrooms'
#items-panel.side-panel.inst-side-panel
  .panel-search
    
    = form_tag classrooms_path, :id => 'live-search', :method => 'get', :remote => true do
      = text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda'
     
  #items-list.panel-items
  
  .panel-add
    - if can? :create, Classroom
      = link_to  'Agregar nuevo salón', {:action => 'new'},  {:id => 'add-new-item', :method => :get, :remote => true, :'data-type' => 'html'}

#content-panel.main-panel
