- if @advances.blank?
  %br
  %h3.centered= " No hay avances programados"
-else 
  .div-table.center{:style=>"width: 60%;"}
    .table
      .row
        .header="#"
        .header="Estudiante"
        .header="Tema"
        .header{:style=>"width: 15%;"}="Fecha"
      .body
        - counter = 1
        - @advances.each do |l|
          .row
            .cell=counter
            .cell=l.student.full_name
            .cell=l.title
            .cell= "#{l l.advance_date, :format => :long}"
            - counter = counter + 1
