%h2="Expediente de ingreso"
%iframe{"name" => "files_iframe", "id" => "files_iframe", "width" => "100%", "height" => "750", "src" => "/aspirantes/#{@applicant_id}/archivos", "scrolling" => "no", :frameborder=>"0"}
