= form_for Applicant.new, :url=>{action: "new_register"} , :remote => true, :html => { :'data-type' => 'html', :id => 'item-new-form' } do |f|
  #first_screen
    .header{:style=>"width:800px;height:90px;margin:2px;"} 
      .title{:style=>"width: 400px; display: block-inline;position:absolute"}
        %h2=@t[:title]
      .language{:style=>"width:180px;height:15px;text-align:left;display:block-inline;position:relative;margin-left:500px;top:7px;font-weight:bold;"} 
        - if I18n.locale.eql? :es
          =" Change language to " 
          = link_to "English","?locale=en"
        - elsif I18n.locale.eql? :en
          ="Cambiar idioma a " 
          = link_to "Español","?locale=es"
      .message{:style=>"text-align:justify;position:relative;"}
        %br
        %h4=@t[:message0]
