= stylesheet_link_tag 'custom-theme/jquery-ui.css'
- @include_js = 'committee_meetings'
- @page_title = 'Comité de Estudios de P..'
- @nav_icon = 'committee_sessions'
- @include2_js = 'select2'
- @include3_js = 'select2_locale_es'
- @include_css = 'select2/select2'
%br
  %br
%h1
  Holi