#enrollment-header
  #enrollment-title
    %h2 Inscripciones
  %table#enrollment-filter
    %tbody
      %tr
        - if current_user.campus_id.eql? 0
          - @terms = Term.where("program_id = :p", {:p => @program.id}).order("start_date desc")
        - else
          - @terms = Term.where("program_id = :p AND name like :n", {:p => @program.id,:n=>"%#{current_user.campus.short_name}%"}).order("start_date desc")
        %td#enrollment-terms-dropdown= select "enrollment", "term_id", @terms.collect {|i| [i.name, i.id]}, :prompt => 'Selecciona un ciclo escolar'

#enrollment-area
