:javascript
  $(document).ready(function() {
    parent.loadGroupsDropdown('#{@tc.group}');
    parent.loadStudents('#{@tc.group}');
    parent.$("#new-group-dialog").dialog('close');
    parent.showFlash('#{flash[:notice]}', 'success');
  });
