@import "compass/reset";
@import "partials/mixins";
@import "partials/config";
@import "partials/general";
@import "partials/mime";
@import "partials/students";

body {
}

.pb_before { page-break-before:always !important; }
.pb_after  { page-break-after:always !important; }
.pbi_avoid { page-break-inside:avoid !important; }

#id_card {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  table#cont {
    width: 100%;
    tr {
      td.photo {
        padding-left: 50px;
        padding-right: 50px;
        width: 400px;
        img {
          border: 20px solid $blue-strong;
          @include rounded(10px);
          width: 400px;
        }
      }
    }
  }
}

#card_name,
#card_last_name {
  color: $red;
  font-size: 60px;
  font-weight: bold;
  height: 65px;
  line-height: 60px;
}

#card_program {
  font-size: 43px;
  line-height: 45px;
  font-weight: bold;
  color: $blue-strong;
  height: 110px;
}

#card_card {
  font-size: 40px;
  height: 50px;
}

#card_start_date {
  font-size: 40px;
  height: 50px;
}

#card_student {
  margin-top: 110px;
  width: 100%;
  font-size: 60px;
  text-align: left;
  background-color: $blue-strong;
  color: #fff;
  font-weight: bold;
  padding: 50px;
}

table#card-back {
  margin-left: 50px;
  width: 100%;
  tr {
    td {
      padding-top: 40px;
      vertical-align:top;
      &.sep-logo {
        text-align: center;
      }
    }
  }
}
table#student-data {
  margin-left: 50px;
  tr {
    td {
      vertical-align:top;
      padding: 10px;
      font-size: 40px;
      height: 46px;
      div {   
        height: 46px;
      }
    }
  }
}

.separator {
  height: 40px;
  border-bottom: 1px solid #000;
}

.cimav-data {
  padding-top: 40px;
  div {
    font-size: 40px;
    height: 46px;
    &.registro {
      margin-top: 30px;
    }
  }
}

.back-name {
  font-weight: bold;
}
