@import "compass/reset";
@import "partials/mixins";
@import "partials/config";
@import "partials/general";
@import "partials/mime";
@import "partials/students";
@import "partials/programs";

body {
  font-size: 80%;
}

.pb_before { page-break-before:always !important; }
.pb_after  { page-break-after:always !important; }
.pbi_avoid { page-break-inside:avoid !important; }


#grades_table {
  margin-top: 20px;  
  margin-bottom: 60px;  
}

#grades_footer {
  margin-top: 20px;  
  border-top: 1px solid $black;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

#programs_grades_table {
  margin-top: 0px;
  margin-bottom: -1px;
}

#programs_grades_footer {
  width: 100%;
  margin: 0 auto;
  tr {
   td{
        text-align: center;
   }
 }
}
