.div-table.center{:style=>"width: 60%;"}
  .table
    .row
      .header{:style=>"width: 21%;"}="Fecha"
      .header="Cambio"
    .body
      .row
        .cell= "Martes 31 Octubre 15:43"
        .cell
          .description
            %b= "Se agregó opción de areas de los planes de estudio para las materias de especialización"
            %span.show-details= "mas detalles"
          .details
            = "Si el plan de estudios pertenece a la maestria aparecerá de forma automática un area definida como transverzal, entonces no es necesario agregarla a la base de datos."