- @include_js = 'index'
- @page_title = 'Inicio'
- @nav_icon = 'home'
#work-area

#advances-big-area
  %h2.centered= "Avances de Tesis"
  %center
    #advances-area

#updates
  %br
  %h2.centered= "Avisos"
  = render "updates"

#logs-big-area
  %br
  %h2.centered= "Log"
  %center
    #logs-area
