- @include_js = ['index']
- @page_title = 'Posgrado CIMAV'
- @nav_icon = 'home'
#work-area
  %h1 Actividades

#advances-big-area
  %h2.centered= "Avances de Tesis"
  %center
    #advances-area


#logs-big-area
  %h2.centered= "Log"
  %center
    #logs-area
