- @include_js = 'index'
- @page_title = 'Posgrado CIMAV'
- @nav_icon = 'home'
#work-area
  %h1 Actividades

#term-grades-big-area
  %h2.centered= "Exámenes de Grado"
  %center
    #term-grades-area

#advances-big-area
  %h2.centered= "Avances de Tesis"
  %center
    #advances-area


#logs-big-area
  %h2.centered= "Log"
  %center
    #logs-area
