<p>Estimado egresado:</p>
<p>El Centro de Investigación en Materiales Avanzados S.C. interesado por el mejoramiento de la calidad en la formación profesional, está realizando un esfuerzo por conocer cuáles son las exigencias que el ejercicio profesional les plantea a los egresados de la institución, para de esa manera responder de manera eficiente a la sociedad a quien debemos nuestra existencia. En este sentido, la presente encuesta tiene como objetivo conocer la trayectoria laboral de los egresados de posgrado de este Centro de Investigación; así mismo, estamos trabajando en crear medios de comunicación y colaboración efectiva con ustedes.</p>
<p>Para contestar la encuesta lo puede hacer en la siguiente liga:<br/><br/><a href="<%= @url %>"><%= @url %></a><br/><br/></p>
<p>Puede estar completamente seguro que las respuestas son confidenciales y serán reportadas de manera general.</p>
<p>
	Departamento de Posgrado<br>
	Centro de Investigación en Materiales Avanzados, S.C.<br/>
	<a href="https://cimav.edu.mx/posgrado">https://cimav.edu.mx/posgrado</a>
</p>

