#login-area
  .login-title= "Sistema de Administración del Posgrado"
  .login-message= "Accesa con tu cuenta @cimav.edu.mx"
  .login-methods
    #login-google-apps.login-method
      = link_to '/auth/google_oauth2' do
        = image_tag("/assets/google-apps.png")
  .clearfix
