- if @access
  %h3= "Favor de pasar con la asistente del departamento correspondiente para finalizar el trámite de su registro."
  %br
  %h3
    = button_tag @t[:logout], :type=>"button", :id=>"logout_button_3",:class=>"logout-button"
- else
  %h3= "Usted no tiene acceso"
  %br
  %h3
    = button_tag @t[:logout], :type=>"button", :id=>"logout_button_3",:class=>"logout-button"

:javascript
  $(document).ready(function() {
    $(".logout-button").live("click", function(){
      window.location="/internados/aspirantes/applicant_logout";
    });
  });
