#teacherEvaluationReport{
  padding: 2em 0;
  p{
    padding: 1em;
  }
}

button:disabled {
  background: #dddddd;
  opacity: 0.65;
  cursor: not-allowed;
}

#teacher_evaluation_term_course_id{
  display: none;
}