#staff_mobilities_attributes_0_activities {
  height: 150px;
  width: 90%;	
}
#staff_seminars_attributes_0_information {
  height: 150px;
}

#staff_external_courses_attributes_0_information {
  height: 100px;
}
#staff_lab_practices_attributes_0_information {
  height: 80px;
}

#staff_external_courses_attributes_0_institution_id,
#staff_lab_practices_attributes_0_institution_id {
  width: 200px;
}
