- @page_title = 'Reportes'
- @nav_icon = 'applicants'
#content-panel.main-panel
  %h3="Docentes"
  %ul
    %li
      = link_to 'Número de alumnos graduados y eficiencia terminal','/docentes/reporte.xls'
      = "[XLS]"
    %li
      = link_to 'Evaluación docente al momento','/docentes/evaluacion.xls'
      = "[XLS]"

